@import "../colors.scss";

.logo {
    height: 70px;
    width: auto;
}
.footer {
    border-top: 1px solid #e5e5e5;
    padding: 40px 0;
}
.socialIcon {
    width: 40px;
}
main {
    overflow: hidden;
}

.sidebar {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;

    &.open {
        max-height: 400px;

        > div {
            padding: 20px;
            border-bottom-width: 5px;
        }
    }

    > div {
        padding: 20px;
        border-bottom: 0px solid $primary-color;
        transition: border-bottom 0.2s ease-in-out;

        ul > li > a {
            height: 40px;
            display: flex;
            align-items: center;
            font-size: 1rem;
        }
    }
}
