.slider {
    overflow: unset;
}
.sliderItems {
    > li {
        width: 22.2%;
    }
}
.arrows {
    margin-top: 20px;
    font-size: 2rem;
    text-align: right;

    .arrowLeft {
        margin-right: 15px;
    }
}

@media only screen and (max-width: 960px) {
    .sliderItems > li {
        width: 40%;
    }
}

@media only screen and (max-width: 640px) {
    .sliderItems > li {
        width: 80%;
    }
}
