@import "../assets/fonts/Graphik/graphik.scss";
@import "../assets/fonts/GT-Walsheim-Pro/ghwalsheim-pro.scss";
@import "colors";

* {
    box-sizing: border-box;
}
html {
    width: 100vw;
    overflow-x: hidden;
}
body {
    color: $text-color;
    overflow-x: hidden;
    position: relative;
    width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $gtw;
    color: $text-color;
}
p {
    line-height: 2;
}
.border-rounded {
    border-radius: 200px;
}

// OVERRIDE UIKIT STYLES ****************************

.uk-navbar-nav > li > a,
.uk-button {
    text-transform: unset;
}
.uk-button-primary-light {
    background-color: $primary-color-bg;
    color: $primary-color;
    font-weight: 500;
}
