.card {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    filter: drop-shadow(0px 10px 30px rgba(6, 148, 42, 0.1));

    p {
        font-weight: 500;
    }

    .image {
        height: 200px;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}
