.container {
    padding-top: 100px;
    padding-bottom: 100px;
}
.bg {
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba(6, 148, 42, 0.05);
    z-index: -1;
}
.brandLogos {
    width: 80%;
    height: auto;
    filter: drop-shadow(10px 10px 30px rgba(118, 196, 138, 0.14));
}
.learnMoreLink > span {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 10px;
        background-color: rgba(6, 148, 42, 0.14);
        bottom: 0;
        left: 0;
        right: 0;
    }
}

@media only screen and (max-width: 960px) {
    .grid {
        flex-direction: column-reverse;
    }
    .brandLogos {
        width: 100%;
        max-width: 400px;
    }
}
